*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
.gradle-android-build/
/captures
.externalNativeBuild
.cxx
local.properties
tuna-token.local
server/node_modules/
server/uploads/
